<%- include('partials/header') %>
  <main>
    <%- include('partials/nav') %>
    <section class="about">
      <h1><%= title %></h1>
      <p><%= description %></p>
    </section>
  </main>
<%- include('partials/footer') %>