<%- include('partials/header') %>
<main>
  <%- include('partials/nav') %>
  <section class="form">   
    <h1 id="contact"><%= title %></h1>
    <div class="social">
      <a href="https://twitter.com/dhanushkn"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/dhanush321"><i class="fab fa-github"></i></a>
      <a href="https://www.facebook.com/dhanush.krishnan" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <form action=" https://formsubmit.co/dhanush061091@gmail.com " method="POST">
      <label for="name"><%= description1 %></label>
      <input type="text" name="name" id="name" placeholder="Your Name">
      <label for="email"><%= description2 %></label>   
      <input type="email" name="email" id="email" placeholder="Your Email ID">
      <label for="msg"><%= description3 %></label>  
      <textarea type="text" name="msg" id="msg" placeholder="Message"></textarea>
      <input type="submit" name="Send" value="Send" class="button"> 
    </form>      
  </section>
</main>
<%- include('partials/footer') %>