<%- include('partials/header') %>
<main>
  <%- include('partials/nav') %>
  <% for(x of gallery) { %>
      <figure>
        <a href="/gallery/<%= x.id %> " >
        <img src= "/images/sm/<%= x.fileName %>" alt = "<%= x.title %>" ></a>
        <figcaption><%= x.title %> by <%= x.attribution.credit %></figcaption>
      </figure>
      <% } %>
</main>
<%- include('partials/footer') %>