<%- include('partials/header') %>
<main>
  <%- include('partials/nav') %>
  <section class="content">
    <h1 id="skill"><%= title %></h1>
    <div class="pro">
      <img class="imgs" src="assets/calgaryapi.jpg" alt="Calgary Crime API">
      <div class="prodes"><%= description1 %></div>
    </div>
    <div class="pro">
      <img class="imgs" src="assets/hamburger.jpg" alt="Hamburger Menu">
      <div class="prodes"><%= description2 %></div>
    </div>
    <div class="pro">
      <img class="imgs" src="assets/data.jpg" alt="Random image">
      <div class="prodes"><%= description3 %></div>
    </div>
    <div class="pro">
      <img class="imgs" src="assets/web.jpg" alt="Random image">
      <div class="prodes"><%= description4 %></div>
    </div>
  </section>
</main>
<%- include('partials/footer') %>